@import "./colors";
@import "./media-queries";

footer {
  background: $black;
  width: 100vw;
  color: $white;
  padding: 5vh 5vw;

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10vh 0 35vh 0;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
      justify-items: center;
      grid-gap: 50px;
      text-align: center;
    }

    @include phone {
      padding-bottom: 10vh;
      text-align: left;
    }

    h2 {
      font-weight: 600;
      font-size: 1.3rem;
      margin-bottom: 30px;
    }

    ul {
      list-style: none;

      li {
        margin: 10px 0;

        a {
          text-decoration: none;
          color: $white;
          font-weight: 600;
          font-size: 1.1rem;

          @include phone {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .bottom-footer {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      @include tablet {
        width: 350px;
        transform: translateY(5vh);
      }

      @include phone {
        transform: translateY(0);
        width: 300px;
        margin-bottom: 20px;
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include phone {
        align-items: center;
      }

      .social-container {
        margin-bottom: 40px;
        i {
          background: $white;
          font-size: 1.8rem;
          padding: 0.3rem;
          border-radius: 50%;
          color: $black;
          margin: 0 2px;
        }
      }

      .bottom-links {
        display: flex;
        list-style: none;

        li {
          margin: 0 10px;

          @include phone {
            margin: 0 3px;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            color: $white;
            font-size: 0.8rem;

            @include phone {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
